@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Popins', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background: #F5F7FF;
    min-height: 200vh;
}
main {
    flex: 1;
}



/*CSS HEADER*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 1.5rem 6.25rem; 
    z-index: 100000;
}

.logo-container {
    display: flex;
    align-items: start;
    margin-left: -5.3125rem;
}

header .imgLogo {
    height: 2.5rem; 
    width: auto;
    margin-right: 0.625rem;  
}

header.sticky{
padding: 0.625rem 6.25rem;
background-color: #239B56;/*color fondo de navbar*/
}

header .Nombre{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    transition: 0.6s;
    line-height: 2.5rem;/*para que este centrado con la imagen*/
    white-space: nowrap;
    color: #00010e;
}

header ul{
    position: relative;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-top: 0.625rem;
    flex-grow: 1;
    margin-left: 3.75rem; /*espacio entre el logo y los li*/
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 5px;
    text-decoration: none;
    color: #00010e;
    letter-spacing: 0.125rem;
    font-weight: 500px;
    padding: 0.625rem 0.9375rem; /*  Padding ajustado para uniformidad */
    border-radius: 0.3125rem;
    transition:  0.3s ease-in-out; 
    white-space: nowrap;
}

header ul li a:hover {
    background: #136335; 
    color: #fff;
}

header.sticky .Nombre{
    color: #fff;
}

header.sticky ul li a{
    color: #fff;
}

/*MENU  RESPONSIVE*/

header .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px; 
    top: 15px;
    z-index: 10000;
   
}
header .toggle_btn:hover {
color: #239B56; 
}

header .close_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
header .close_btn:hover {
    color: #FFBC0F; 
    }


@media (max-width: 992px) {
    header {
        padding: 1.25rem 1.25rem; 
        
    }
   
    header .links {
        margin-top: 0;
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        background: linear-gradient(to top, #00010e,#035702);
        padding: 20px;
        z-index: 9999;
        transition: 0.3s;
        justify-content: start;
    }

    header .links.show {
        display: flex;
    }

    header .links li {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    header ul li a:hover {
        background: #239B56; 
    }
    header .links li a {
        font-size: 18px;
        color: #fff;
    }
    header .toggle_btn {
        display: block; 
    margin-left: 40px;
    top: 20px;
    }
    header .toggle_btn{
        color: black;
        display: flex;
        justify-content: flex-end;
        justify-items: flex-end;
    }
    header.sticky .toggle_btn{
        color: #fff;
    }
    header .close_btn {

        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 10000;
    }

    header .links.show + .close_btn {
        display: block;
    }
}



/*CSS RESPONSIVO DEL HEADER*/
@media (max-width: 1150px) {
    header {
        padding: 1.25rem 3.125rem; 
    }

    header .Nombre {
        font-size: 1.3em; 
    }

    header ul {
        margin-left: 1.25rem;
    }

    header ul li a {
        padding: 0.3125rem 0.625rem; 
        font-size: 0.9em; 
        margin: 0 0.1875rem;
    }
    header .imgLogo {
        height: 2.5rem; 
        width: auto;
        margin-left: 40px;
    }
    header.sticky .imgLogo{
        margin-left: 5px;
    }
    header .toggle_btn{
        top: 20px;
    }

}

/*CSS PARA PANTALLAS DE TELEFONO (max-width: 500px)*/
@media (max-width: 500px) {
    header {
        padding: 1rem; 
    }
    header.sticky {
        padding-top: 1.2rem; 
    }

    header .Nombre {
        font-size: 1.1em; 
        line-height: 1.5rem;
    }
    
    header ul {
        margin-left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    header ul li a {
        padding: 0.3125rem 0.625rem; 
        font-size: 0.8em; 
        margin: 0.2rem 0;
    }

    header .imgLogo {
        height: 1.5rem; 
        width: auto;
        margin-right: 0.5rem;
        margin-left: 80px;
    }

    header.sticky .imgLogo {
        margin-left: 5px;
    }

    header .toggle_btn {
        display: block;
        font-size: 1.25rem;
        color: #000;
        margin-left: 10px; 
        line-height: 1rem;
    }
    header.sticky  .toggle_btn {
        line-height: 1.2rem;
    }
    header .links li a {
        font-size: 16px; 
    }

    header.sticky .links li a {
        font-size: 14px;
    }
    
}

/*CSS PARA PANTALLAS MENORES DE 250PX*/
@media (max-width: 350px) {
    header {
        padding: 1.1rem;
    }
    
    header .Nombre {
        font-size: 0.9em;
        line-height: 1.2rem;
    }
    
    header ul {
        margin-left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    header ul li a {
        padding: 0.2rem 0.5rem;
        font-size: 0.7em;
        margin: 0.1rem 0;
    }

    header .imgLogo {
        height: 1.2rem;
        width: auto;
        margin-right: 0.3rem;
        margin-left: 85px;
    }

    header.sticky .imgLogo {
        margin-left: 0px;
    }
    header.sticky .Nombre {
        margin-right: 1rem;
    }

    header .toggle_btn {
        display: block;
        font-size: 1rem;
        color: #000;
        margin-left: 5px;
        line-height: 0rem;
    }

    header.sticky .toggle_btn {
        line-height: 1.5rem;
    }

    header .links li a {
        font-size: 14px; 
    }

    header.sticky .links li a {
        font-size: 12px; 
    }
}





/*IMAGEN OPCIONAL*/
.banner{
    position: relative;
   width: 100%;
    height: 100vh;
    background: url(/RamitaPrincipal/img/Fondo5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
   
}

